tenancy_ocid     = "ocid1.tenancy.oc1..aaaaaaa..."
user_ocid        = "ocid1.user.oc1..aaaaaaa..."
fingerprint      = "aa:bb:cc:dd:ee:ff:00:11:22:33:44:55:66:77:88:99"
private_key_path = "/home/you/.oci/oci_api_key.pem"
region           = "eu-frankfurt-1"

compartment_ocid = "ocid1.compartment.oc1..aaaaaaa..."
namespace        = "your-object-storage-namespace"
bucket_name      = "nixos-images"

# Path to qcow2 after: just build-oracle-image
image_path = "/home/you/.config/home-manager/result/nixos.qcow2"

ssh_public_key = "ssh-ed25519 AAAA... you@host"

instance_ocpus      = 4
instance_memory_gbs = 24

# Default: Always Free A1. If A1 is out of host capacity, bootstrap on paid A2:
# instance_shape = "VM.Standard.A2.Flex"
# Apply once, then switch back to A1 and apply again:
# instance_shape = "VM.Standard.A1.Flex"
